* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
}

.center {
  margin-top: 3em;
  height: 300px;
  background-color: white;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.center img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.error {
  margin-top: 3em;
  color: red;
}
