* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  margin-top: 3em;
  height: 800px;
  width: min(1100px, 75%);
  background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
  overflow-x: hidden;
}

.container img {
  height: 250px;
  width: auto;
}

.error {
  margin-top: 3em;
  color: red;
}

form {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#searchBar {
  width: 300px;
  padding: 10px;
}

#searchBtn {
  padding: 10px 15px;
  height: 40px;
}
