:root {
  --error-color: #ff3636;
  --valid-color: #36ff51;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1.5em;
  background-color: white;
  border-radius: 10px;
}

form fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px;
}

form .inputs {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form p {
  display: block;
  width: 20px;
}

input {
  padding: 0.5em;
  border: 1px solid black;
}

input:focus {
  outline: 1px;
}

input.invalid {
  border: 1px solid var(--error-color);
}

input.valid {
  border: 1px solid var(--valid-color);
}

i {
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translateY(-50%);
}

.fa-times-circle-o,
.fa-check-circle-o {
  display: none;
  font-size: 1.25em;
}

.fa-times-circle-o {
  color: var(--error-color);
}

.fa-check-circle-o {
  color: var(--valid-color);
}

.error {
  width: 100%;
  font-size: 0.8em;
  color: var(--error-color);
}

.submit-btn {
  background-color: #1d36f7;
  margin: 0 auto;
  width: 100px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px;
  transition: transform 100ms ease-in-out;
  color: white;
  font-weight: 700;
}

.submit-btn:active {
  transform: scale(0.9);
}
